body {
  background-color: #f9f7fe;
  font-family: sans-serif;
  margin: 20px;
}
form {
  padding: 20px;
}

#countries {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
#container {
  text-align: center;
  max-width: 700px;
  margin: 60px auto;
  padding: 40px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
#title {
  text-align: left;
  font-size: 42px;
}
.city {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  padding: 20px;
}
.time {
  font-size: 42px;
  font-weight: bold;
}

.date {
  text-align: left;
  opacity: 0.5;
  border-bottom: 1px dashed black;
  padding: 20px;
}
footer {
  text-align: center;
}
#small {
  font-size: 28px;
}
#homelink {
  display: flex;
  justify-content: left;
  margin-top: 30px;
}
